
<div class="container w-50  rounded border text-center p-5 mt-5" style="background-color: rgba(65, 62, 62, 0.603);">
    <h1 class="text-white">Sign Up To Bank</h1>
    <form action=""(ngsubmit)="register()">
    <div class="p-3 mt-2">
        <input [(ngModel)]="uname" id="unamid" name="usern1" class="form-control" type="text" 
        placeholder="Enter Username">
    </div>

    <div class="p-3 mt-2"  >
        <input [(ngModel)]="acno"  id="acid" name="acnum1" class="form-control" type="text" 
        placeholder="Enter Account Number">
    </div>

    <div class="p-3 mt-2"  >
        <input [(ngModel)]="psw" id="psw1" name="paswrd1" class="form-control" type="password" 
        placeholder="Enter password">
    </div>

    <div class="p-3 mt-2">
        <button type="submit" (click)="register()" class="btn btn-dark">Register</button>
    </div>

    
   
</form>
</div>